<header class="header-section">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="logo">
        <a href="{% url "home" %}"><img src="img/lg.png" alt="" /></a>
      </div>
      <div class="header-right">
        <img src="img/icons/search.png" alt="" class="search-trigger" />
        <img src="img/icons/man.png" alt="" />
        <a href="/cart/">
          <img src="img/icons/bag.png" alt="" />
          <span>{{ cart_count }}</span> 
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="user-access">
        <a href={% url "logout" %} class="in">Sign Out</a>
      </div>
      {% else %}
      <div class="user-access">
        <a href={% url "register" %}>Register</a>
        <a href="{% url "login" %}" class="in">Sign in</a>
      </div>
      {% endif %}
      <nav class="main-menu mobile-menu">
        <ul>
            <li>
                <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a class="{% if request.path == '/products/' %}active{% endif %}" href="{% url 'products' %}">Shop</a>
            </li>
            <li>
                <a class="{% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
            </li>
            
            <li>
                <a class="{% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </nav>
    
    </div>
  </div>
</header>
