{% extends "base/main.html" %} {% block content %} {% load static %}
<!-- Page Add Section Begin -->
<section class="page-add">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="page-breadcrumb">
          <h2>{{product.category}}<span>.</span></h2>
          <a href="{% url "home" %}">Home</a>
          <a href="#">{{product.category}}</a>
        </div>
      </div>
      <div class="col-lg-8">
        <img src="img/add.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-slider owl-carousel">
          <div class="product-img">
            <figure>
              <img src="{{product.image.url}}" alt="" />
              <div class="p-status">{{product.status}}</div>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-content">
          <h2>{{product.title}}</h2>
          <div class="pc-meta">
            <h5>${{product.price}}</h5>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <p>{{product.description}}</p>
          <ul class="tags">
            <li><span>Category :</span> {{ product.category }}</li>
            <li>
              <span>Tags:</span>
              {% for pt in product.get_tags_list  %}
              {{pt}},
              {% endfor %}
            </li>
          </ul>

          <div class="product-quantity">
            <div class="pro-qty">
              <input type="text" value="1" />
            </div>
          </div>
          <a href="{% url "add_cart" product.slug %}" class="primary-btn pc-btn">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
<section class="related-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>Related product</h2>
        </div>
      </div>
    </div>
    <div class="row" id="product-list">
      {% for product in products %}
      <div class="col-lg-3 col-sm-6 mix all {{product.category}}">
        <div class="single-product-item">
          <figure>
            <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="" />
            <div class="p-status">{{product.status}}</div>
          </figure>
          <div class="product-text">
            <h6>{{product.title}}</h6>
            <p>${{product.price}}</p>
          </div>
        </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Related Product Section End -->

{% endblock content %}
